{% extends "layout.html" %}

{% block content %}
    <h2>Editar Tag</h2>

    <div class="crud-form">
        <form action="{{ url_for('actualizar_tag_accion', tag_id=tag._id) }}" method="POST">
            <label for="tagName">Nombre del Tag:</label>
            <input type="text" id="tagName" name="nombre_tag" value="{{ tag.name }}" required>
            
            <label for="tagUrl">URL del Tag:</label>
            <input type="text" id="tagUrl" name="url_tag" value="{{ tag.url }}" required>
            
            <button type="submit">Actualizar Tag</button>
        </form>
    </div>
{% endblock %}